<div class="container">
  <div class="col-lg-4">
    <h2>Welcome#index</h2>
    <p>Find me in app/views/welcome/index.html.erb</p>
    </div>

  <div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="btnFullFace">Take FullFace</button>
    <button id="btnProfile">Take Profile</button>
  </div>

  <canvas id="canvasFullFace"></canvas>
  <canvas id="canvasProfile"></canvas>

  <div class="outputFullFace">
    <img id="photoFullFace" alt="The screen capture will appear in this box.">
  </div>

  <div class="outputProfile">
    <img id="photoProfile" alt="The screen capture will appear in this box.">
  </div>


  <%  @groups.each do |g| %>
      <h2><%= g.name %></h2>
      <% g.categories.each do |c| %>
          <h3><%= c.name %></h3>
          <% c.questions.each do |q| %>
              <p>
                <h4><%= q.title %></h4>
                <%= image_tag(q.image,  height: '240', width: '320') %>
                <%= range_field :Question1, :in => 0..-100, :step => '.1' %>
              </p>
          <% end %>
      <% end %>
  <% end  %>


</div>
