<div class="container-md" xmlns="http://www.w3.org/1999/html">

  <div class ="jumbotron">
    <h1>Hello, world!</h1>
    <p> Мир должен быть таким, каким он должен быть.<p>
  </div>

  <video id="video" class="center-block">Video stream not available.</video>

  <canvas id="canvasFullFace"></canvas>
  <canvas id="canvasProfile"></canvas>

  <div class="row">
      <div class="col-lg-6 text-center">
        <p><button id="btnFullFace" class="btn btn-default">Take FullFace</button></p>
        <p><img id="photoFullFace" class="img-responsive img-center" alt="The screen capture will appear in this box."></p>
      </div>

      <div class="col-lg-6 text-center">
        <p><button id="btnProfile" class="btn btn-default">Take Profile</button></p>
        <p><img id="photoProfile" class="img-responsive img-center" alt="The screen capture will appear in this box."></p>
      </div>
  </div>

  <!-- --------------------------------- -->
    <!-- first iterator -->
    <%  @groups.each do |g| %>
      <h2><%= g.name %></h2>
      <!-- second iterator -->
          <% g.categories.each do |c| %>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><%= c.name %></h3>
              </div>
              <div class="panel-body">
                <div class="row">
                <!-- third iterator -->
                <% c.questions.each do |q| %>
                    <div class="col-lg-3">
                      <div class="radio radio-primary">
                        <label>
                          <input type="radio" value="option1" name="sample1">
                          <span class="circle"></span>
                          <span class="check"></span>
                          <%= q.title %>
                        </label>
                      </div>
                      <img class="img-responsive img-center" src="http://www.nastol.com.ua/pic/201204/320x240/nastol.com.ua-20454.jpg">
                      <div class="slider shor hid"></div>
                      <div class="slider-value"></div>
                    </div>
                <% end %>
                <!-- end third iterator -->
                </div>
              </div>
            </div>
      <% end %>
      <!-- end second iterator -->
    <% end %>
    <!-- end first iterator -->
  <!-- --------------------------------- -->
  <%= form_for(:foo) do |f| %>
      <%= f.hidden_field :hiddenFFPhoto %>
      <%= f.hidden_field :hiddenPPhoto %>
      <%  @groups.each do |g| %>
          <h2><%= g.name %></h2>
          <% g.categories.each do |c| %>
              <div class="row">
                  <h3><%= c.name %></h3>
                  <% c.questions.each do |q| %>
                        <div class="col-lg-3">
                          <div class="radio">
                            <label><%= radio_button_tag(:age, "child") %><%= q.title %> </label>
                          </div>

                            <%= image_tag(q.image, :class => "img-responsive img-center") %>
                            <%= f.range_field :Question1, :in => 0..-100, :step => '.1' %>
                      </div>
                  <% end %>
              </div>
          <% end %>
      <% end  %>
      <%= submit_tag("Post") %>
  <% end %>

</div>
